version: '3.8'

services:
  n8n:
    build: .
    environment:
      # --- Налаштування бази даних (Автоматичні) ---
      - DB_TYPE=postgresdb
      # Тут ми кажемо: "Візьми значення із змінної PGHOST, яку дасть Railway"
      - DB_POSTGRESDB_HOST=${PGHOST}
      - DB_POSTGRESDB_PORT=${PGPORT}
      - DB_POSTGRESDB_DATABASE=${PGDATABASE}
      - DB_POSTGRESDB_USER=${PGUSER}
      - DB_POSTGRESDB_PASSWORD=${PGPASSWORD}
      
      # --- Інші налаштування n8n ---
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=password
      - PORT=5555
      - N8N_ENCRYPTION_KEY=${N8N_ENCRYPTION_KEY}

    ports:
      - "5555:5555"
